@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Bungee+Hairline&family=Montserrat:wght@200;300&family=Nunito:wght@200;300;900&family=Oswald:wght@200;500;700&family=Outfit:wght@300;500;900&display=swap');

body {
  background-color: darkslategray;
  background-image: url(https://data.whicdn.com/images/332907756/original.gif);
}

.card-title {
  font-family: 'Bungee', cursive;
}

.navbar-brand {
  font-family: 'Bungee', cursive;
}

.welcome-img {
  max-width: 60%;
}

.btn {
  font-family: 'Bungee', cursive;
}

#search {
  font-family: 'Bungee', cursive;
}